<md-content>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>Project Management</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Favorite">
				<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="More">
				<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
			</md-button>
		</div>

	</md-toolbar>
	<md-content layout-padding>
	<div style="width: 50%;margin: 0px auto;">
		<h2>Login</h2>
		<form name="loginForm" ng-submit="login()">
			<div layout-gt-sm="column">
				<md-input-container class="md-block" flex-gt-sm>
					<label>username</label>
					<input ng-model="user.username" name="username" required>
				</md-input-container>
				<br/>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Password</label>
					<input type="password" name="password" ng-model="user.password" required>
				</md-input-container>
			</div>
			<md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid">Login or Register</md-button>
		</form>
	</div>
		
  	</md-content>

<md-content>